#header {
	height:105px;
	border: solid 1px red;
	float: left;
	margin-left: 150px;
}

#search {
	width: 300px;
	margin: 10px 0 5px 10px;
	height: 24px;
}

#menu {
	border: solid 1px red;
	height: 105px;
}

#menu a {
	margin-left: 20px;
	text-decoration: none;
	font-size: 15px;
}
